<template>
  <div class="home">
    <Dashboard />
    <RouteApi />
    <RouteBlockCollection/>
    <div class="user-settings-fly" v-if="displayUserSettings">
      <UserSettings />
    </div>
    <div class="action-button">
      <input type="file" class="btn-load-file" @change="loadFile">
      <button class="btn-save-file" @click="saveFile">🗒️ Save file</button>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
import downloadJson from '../mixins/downloadJson';
import Dashboard from '@/components/Dashboard.vue';
import RouteApi from '@/components/RouteApi.vue';
import RouteBlockCollection from '@/components/RouteBlockCollection.vue';
import UserSettings from '@/components/UserSettings.vue';

export default {
  name: 'Home',
  components: {
    Dashboard,
    RouteApi,
    RouteBlockCollection,
    UserSettings,
  },
  computed: {
    ...mapGetters(['displayUserSettings']),
  },
  methods: {
    urlPathToFilename(urlPath, ext) {
      return urlPath
        .replaceAll('//', '')
        .replaceAll('/', '_')
        .replaceAll('https', '')
        .replaceAll('http', '')
        .replaceAll(':', '')
        .replaceAll('.', '-')
        .concat(Date.now())
        .concat(`.${ext}`);
    },
    getFileAsObject() {
      return {
        routeCollection: this.$store.getters.routeCollection,
        apiPath: this.$store.getters.apiPath,
        customHeader: this.$store.getters.customHeader,
      };
    },
    saveFile() {
      const file = this.getFileAsObject();
      const filename = this.urlPathToFilename(file.apiPath, 'vapi');
      this.autoDownloadFile(file, filename);
    },
    loadFile(ev) {
      const file = ev.target.files[0];
      const reader = new FileReader();

      reader.onload = (e) => {
        this.$emit('load', e.target.result);
        this.setStoreFromFile(e.target.result);
      };
      reader.readAsText(file);
    },
    setStoreFromFile(data) {
      const dataAsObject = JSON.parse(data);
      this.$store.dispatch('SET_COLLECTION_FROM_FILE', dataAsObject.routeCollection);
      this.$store.dispatch('SET_API_FROM_FILE', dataAsObject);
    },
  },
  mixins: [downloadJson],
};
</script>

<style scoped>
  .home {
    display: grid;
    gap: var(--unit-2);
  }

  .action-button {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: var(--unit-4);
    padding-top: var(--unit-4);
  }

  .user-settings-fly {
    background-color: var(--color-0-5);
    bottom: var(--unit-4);
    border-radius: var(--unit-1);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 12px;
    padding: 1rem;
    position: fixed;
    right: var(--unit-4);
    width: clamp(350px, 25vw, 600px);
    z-index: 10;
  }

  .btn-settings {
    width: 25px;
    height: 25px;
    background: red;
  }

  /* CUSTOM INPUT FILE BUTTON */
  input[type='file'] {
    color: rgba(0, 0, 0, 0);
    padding: 0;
    border: none;
  }

  input[type='file']:hover {
    cursor: pointer;
  }

  input[type=file]::file-selector-button {
    border: 1px solid var(--color-2);
    border-radius: var(--unit-1);
    padding: var(--unit-1);
    width: 100%;
    background-color: var(--color-3);
    padding: 0;
    border: none;
    height: var(--unit-4);
  }

  input[type=file]::file-selector-button:hover {
    background-color: var(--color-3);
    cursor: pointer;
  }

  .btn-load-file {
    grid-area: 1 / 1;
  }

  .btn-save-file {
    grid-area: 1 / 6;
    letter-spacing: .1rem;
    font-weight: normal;
    border: none;
    border-radius: var(--unit-1);
    padding: 0;
    background-color: var(--color-3);
    color: var(--color-2);
    height: var(--unit-4);
  }

  @media (max-width: 800px) {
    .reinit-content {
      display: none;
    }
    .action-button {
      grid-template-columns: 2fr;
    }
    .btn-load-file {
      grid-area: 2 / 1;
    }
    .btn-save-file {
      grid-area: 1 / 1;
    }
    .user-settings-fly {
      backdrop-filter: inherit;
      background: var(--color-0);
      bottom: inherit;
      padding: 1rem;
      right: 0;
      top: 48px;
      width: 90vw
    }
  }

  @supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
    .user-settings-fly {
      background-color: transparent;
      -webkit-backdrop-filter: blur(24px);
      backdrop-filter: blur(24px);
    }
  }
</style>
