<template>
  <div>
    <button name="color-mode" @click="switchColorMode">🎨</button>
  </div>
</template>

<script>
export default {
  name: 'BtnColorModeSwitcher',
  data() {
    return {
      colorMode: 0,
    };
  },
  methods: {
    switchColorMode() {
      this.colorMode += 1;
      if (this.colorMode > 1) { this.colorMode = 0; }
      const r = document.querySelector(':root');
      if (this.colorMode === 1) {
        // -- Light mode
        r.style.setProperty('--color-0', '#ffffff');
        r.style.setProperty('--color-0-5', '#ffffffc7');
        r.style.setProperty('--color-1', '#d4d7f7');
        r.style.setProperty('--color-1-5', '#d4d7f780');
        r.style.setProperty('--color-2', '#4953ab');
        r.style.setProperty('--color-2-5', '#4953ab80');
        r.style.setProperty('--color-3', '#abb0dc');
      } else {
        // -- Dark mode (default)
        r.style.setProperty('--color-0', '#1b2631');
        r.style.setProperty('--color-0-5', '#1b2631c7');
        r.style.setProperty('--color-1', '#2c3e50');
        r.style.setProperty('--color-1-5', '#2c3e5080');
        r.style.setProperty('--color-2', '#adefd1');
        r.style.setProperty('--color-2-5', '#adefd180');
        r.style.setProperty('--color-3', '#476a74');
      }
    },
  },
};
</script>

<style scoped>
  button {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    border: 1px dashed;
    opacity: 0.5;
  }

  button:hover {
    cursor: pointer;
    border: 1px solid;
    opacity: 1;
  }
</style>
