<template>
  <div>
    <button name="switch-user-settings" @click="showSettings">🎛️</button>
  </div>
</template>

<script>
export default {
  name: 'BtnDisplayUserSettings',
  methods: {
    showSettings() {
      this.$store.commit('SWITCH_USER_SETTINGS');
    },
  },
};
</script>

<style scoped>
  button {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    border: 1px dashed;
    opacity: 0.5;
  }

  button:hover {
    cursor: pointer;
    border: 1px solid;
    opacity: 1;
  }
</style>
