<template>
  <div>
    <button name="grid-splitter" @click="updateSplitter">🏗️</button>
  </div>
</template>

<script>
export default {
  name: 'BtnGridSplitter',
  data() {
    return {
      gridSplitter: 1,
    };
  },
  methods: {
    updateSplitter() {
      this.gridSplitter += 1;
      if (this.gridSplitter > 4) { this.gridSplitter = 1; }
      const r = document.querySelector(':root');
      r.style.setProperty('--grid-slitter', `${this.gridSplitter}`);
    },
  },
};
</script>

<style scoped>
  button {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    border: 1px dashed;
    opacity: 0.5;
  }

  button:hover {
    cursor: pointer;
    border: 1px solid;
    opacity: 1;
  }

  @media (max-width: 700px) {
    button {
      display: none;
    }
  }
</style>
