<template>
  <div class="dashboard-card">
    <button @click="filterBlock">
      <div class="dashboard-card-elem" :class="{notFiltered: !isFiltered}">
        <div v-if="light" class="color-status" :style="mocolor"></div>
        <div class="data-value">{{ value }}</div>
        <div class="data-legend">{{ legend }}</div>
      </div>
    </button>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';

export default {
  name: 'DashboardCard',
  props: {
    value: {
      type: [String, Number],
      default: 0,
    },
    legend: {
      type: String,
      default: 'no legend',
    },
    light: {
      type: String,
      default: '',
    },
    filter: {
      type: Array,
    },
  },
  computed: {
    mocolor() {
      return {
        '--light-color': this.light,
      };
    },
    ...mapGetters({
      filterStore: 'filter',
    }),
    isFiltered() {
      return this.filter === undefined
        || (this.filterStore.routeVerb.length === 0 && this.filterStore.status.length === 0)
        || this.filterStore.routeVerb.includes(this.filter[1])
        || this.filterStore.status.includes(this.filter[1]);
    },
  },
  methods: {
    filterBlock() {
      if (this.filter === undefined) {
        console.info('Not a filter');
      } else if (this.filter[0] === 'reinit') {
        this.$store.dispatch('REINIT_FILTER');
      } else {
        this.$store.dispatch('ADD_FILTER', this.filter);
      }
    },
  },
};
</script>

<style scoped>
button {
  background-color: transparent;
  padding: 0;
  margin: 0;
  font-weight: normal;
  border: none;
}

.dashboard-card {
  margin-right: 1rem;
  margin-top: 1rem;
}

.dashboard-card:hover {
  cursor: pointer;
}

.dashboard-card-elem {
  background: var(--color-1);
  border-radius: var( --unit-1);
  width: fit-content;
  min-width: 100px;
  height: 3rem;
  text-align: right;
  padding: 1rem;
}

.data-value {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  font-size: 2rem;
  font-weight: 100;
  margin: 0;
}

.data-legend {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  font-size: 0.7rem;
  margin-top: -0.7rem;
  font-weight: lighter;
  letter-spacing: normal;
}

.color-status {
  --light-color: yellow;
  position: relative;
  top: 0;
  left: 0;
  background: var(--light-color);
  height: 2px;
  width: var(--unit-2);
}

.notFiltered {
  opacity: 0.5;
}
</style>
