<template>
  <div class="dashboard">
    <DashboardCard
      :value="totalRoutes"
      legend="TOTAL ROUTES"
      :filter="['reinit', 'all']"
    />
    <DashboardCard
      :value="requestOK"
      legend="REQUEST OK"
      light="#30d230"
      :filter="['status', 'OK']"
    />
    <DashboardCard
      :value="requestKO"
      legend="REQUEST KO"
      light="red"
      :filter="['status', 'KO']"
    />
    <DashboardCard
      :value="requestNotStarted"
      legend="NOT STARTED"
      light="grey"
      :filter="['status', 'NOP']"
    />
    <DashboardCard :value="totalGet" legend="GET" :filter="['routeVerb', 'get']"/>
    <DashboardCard :value="totalPut" legend="PUT" :filter="['routeVerb', 'put']"/>
    <DashboardCard :value="totalPatch" legend="PATCH" :filter="['routeVerb', 'patch']"/>
    <DashboardCard :value="totalPost" legend="POST" :filter="['routeVerb', 'post']"/>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
import DashboardCard from './DashboardCard.vue';

export default {
  name: 'Dashboard',
  components: {
    DashboardCard,
  },
  computed: {
    ...mapGetters({
      routeCollection: 'routeCollection',
      isFilterOn: 'isFilterOn',
    }),
    totalRoutes() {
      return this.routeCollection.length;
    },
    totalGet() {
      return this.routeCollection.filter((route) => route.routeVerb === 'get').length;
    },
    totalPut() {
      return this.routeCollection.filter((route) => route.routeVerb === 'put').length;
    },
    totalPatch() {
      return this.routeCollection.filter((route) => route.routeVerb === 'patch').length;
    },
    totalPost() {
      return this.routeCollection.filter((route) => route.routeVerb === 'post').length;
    },
    requestOK() {
      return this.routeCollection.filter((route) => route.apiResponse?.status < 300).length;
    },
    requestKO() {
      return this.routeCollection.filter((route) => route.apiResponse?.status >= 300).length;
    },
    requestNotStarted() {
      return this.routeCollection.filter((route) => route.apiResponse === '').length;
    },
  },
};
</script>

<style scoped>
.dashboard {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: var(--unit-2);
}

@media (max-width: 700px) {
  .dashboard {
    flex-wrap: nowrap;
    overflow: auto;
  }
}
</style>
