<template>
  <div class="on-board">
    <h1>VAPI <span>0.7.2</span></h1>
    <p>A minimal api tester</p>
  </div>
</template>

<script>
export default {
  name: 'OnBoard',
};
</script>

<style scoped>
  h1 {
    font-size: var(--unit-4);
    margin-bottom: 0;
  }

  span {
    font-size: var(--unit-2);
    font-weight: 100;
  }

  p {
    margin-top: -6px;
    font-size: var(--unit-2);
  }
</style>
