<template>
  <div class="route-block">
    <label for="verbs">TYPE</label>
    <select name="verbs" id="verbs-select" v-model="routeVerb">
      <option value="get">GET</option>
      <option value="post">POST</option>
      <option value="put">PUT</option>
      <option value="patch">PATCH</option>
      <option value="delete">DELETE</option>
    </select>
    <label for="api-path">API PATH</label>
    <input type="text" name="api-path" v-model="routePath">
    <label for="request-body">REQUEST BODY</label>
    <textarea v-model="routeBody" name="request-body"></textarea>
    <label for="request-response">REQUEST RESPONSE
      <span v-if="apiResponseStatus" class="response-status">
        <div
          class="dot-status"
          :class="apiResponseStatus > 300 ? 'dot-status-error' : '' ">
        </div>
        STATUS: {{ apiResponseStatus }}
      </span>
      <span v-if="fetching" class="response-status">Fetching ...</span>
    </label>
    <textarea
      v-model="apiResponseAsText"
      name="request-response"
      class="request-response">
    </textarea>
    <button @click="fetchData">🏃🏽 RUN</button>
    <button @dblclick="deleteRoute">💣 DELETE</button>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
import axios from 'axios';

export default {
  name: 'RouteBlock',
  props: {
    id: {
      type: Number,
      required: true,
    },
  },
  data() {
    return {
      fetching: false,
      codeResponse: undefined,
    };
  },
  computed: {
    ...mapGetters({
      apiPath: 'apiPath',
      customHeader: 'customHeader',
    }),
    routeVerb: {
      get() {
        return this.$store.getters.routeData(this.id).routeVerb;
      },
      set(value) {
        const data = {
          id: this.id,
          routeVerb: value,
        };

        this.$store.commit('UPDATE_ROUTE_VERB', data);
      },
    },
    routePath: {
      get() {
        return this.$store.getters.routeData(this.id).routePath;
      },
      set(value) {
        const data = {
          id: this.id,
          routePath: value,
        };

        this.$store.commit('UPDATE_ROUTE_PATH', data);
      },
    },
    routeBody: {
      get() {
        return this.$store.getters.routeData(this.id).routeBody;
      },
      set(value) {
        const data = {
          id: this.id,
          routeBody: value,
        };

        this.$store.commit('UPDATE_ROUTE_BODY', data);
      },
    },
    apiResponse: {
      get() {
        const key = this.$store.getters.displayOnlyKey;
        if (key && this.$store.getters.routeData(this.id).apiResponse[key]) {
          return this.$store.getters.routeData(this.id).apiResponse[key];
        }
        return this.$store.getters.routeData(this.id).apiResponse;
      },
      set(value) {
        const data = {
          id: this.id,
          apiResponse: value,
        };

        this.$store.commit('UPDATE_ROUTE_RESPONSE', data);
      },
    },
    apiResponseStatus() {
      return this.$store.getters.routeDataStatus(this.id);
    },
    apiResponseAsText() {
      if (this.apiResponse === '') { return null; }
      if (this.$store.getters.beautifyResponse) {
        return JSON.stringify(this.apiResponse, undefined, 2);
      }
      return JSON.stringify(this.apiResponse);
    },
  },
  methods: {
    fetchData() {
      this.cleanResponse();
      this.fetching = true;
      console.group(`%c New request: ${String(this.routeVerb).toUpperCase()} => ${this.apiPath}${this.routePath}`, 'color: #bada55');
      console.log('fetching data ...');
      const fullPath = this.apiPath + this.routePath;
      const h = JSON.parse(`{ "headers":${this.customHeader}}`);
      const b = JSON.parse(this.routeBody);
      axios[this.routeVerb](fullPath, h, b)
        .then((res) => {
          console.log('AXIOS RESPONSE: ', res);
          console.groupEnd();
          this.apiResponse = res;
          this.codeResponse = res.status;
          this.fetching = false;
        })
        .catch((err) => {
          this.fetching = false;
          console.log('AXIOS ERROR', err);
          console.groupEnd();
          this.apiResponse = err.response;
          if (err?.response?.status) {
            this.codeResponse = err.response.status;
          }
        });
    },
    cleanResponse() {
      this.$store.dispatch('CLEAN_RESPONSE', this.id);
    },
    deleteRoute() {
      this.$store.dispatch('DELETE_ROUTE', this.id);
    },
  },
};
</script>

<style scoped>
  label {
    display: flex;
  }

  input,
  textarea,
  select {
    border: none;
  }

  textarea {
    resize: vertical;
  }

  button {
    border: none;
    background: var(--color-3);
    color: var(--color-2);
  }

  button:hover {
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: var(--color-0);
  }

  .route-block {
    display: grid;
    gap: var(--unit-2);
    padding: var(--unit-2);
    border: none;
    background-color: var(--color-1);
  }

  .response-status {
    margin-left: var(--unit-4);
    color: var(--color-2);
    display: flex;
    align-items: center;
    margin-top: -6px;
  }

  .dot-status {
    width: var(--unit-1);
    height: var(--unit-1);
    border: 1px solid var(--color-2);
    border-radius: 50%;
    background: chartreuse;
    margin: 0 var(--unit-1);
  }

  .dot-status-error {
    background: red;
  }

  .request-response {
    height: var(--response-area-size);
  }
</style>
