<template>
  <div class="home">
    <label for="api-route">API ROUTE
      <span class="reinit-content" @click="reinitAPIPath">🧽 Reinit</span>
    </label>
    <input type="text" name="api-route" v-model="apiPath">
    <label for="custom-hedears">CUSTOM HEADERS
      <span class="reinit-content" @click="reinitHeaders">🧽 Reinit</span>
    </label>
    <textarea v-model="customHeader" name="custom-hedears"></textarea>
  </div>
</template>

<script>
export default {
  name: 'RouteApi',
  computed: {
    apiPath: {
      get() {
        return this.$store.getters.apiPath;
      },
      set(value) {
        this.$store.commit('UPDATE_API_PATH', value);
      },
    },
    customHeader: {
      get() {
        return this.$store.getters.customHeader;
      },
      set(value) {
        this.$store.commit('UPDATE_CUSTOM_HEADER', value);
      },
    },
  },
  methods: {
    reinitAPIPath() {
      this.$store.dispatch('REINIT_API_PATH');
    },
    reinitHeaders() {
      this.$store.dispatch('REINIT_HEADERS');
    },
  },
};
</script>

<style scoped>
  .reinit-content {
    position: absolute;
    margin-left: var(--unit-4);
    margin-top: -7px;
    padding: 0 var(--unit-2);
    border-top: 1px solid var(--color-2-5);
    border-left: 1px solid var(--color-2-5);
    border-right: 1px solid var(--color-2-5);
    font-weight: 100;
    font-size: 0.7rem;
    color: var(--color-2);
    opacity: 0;
    z-index: 10;
    transition: 0.8s;
  }

  .reinit-content:hover {
    cursor: pointer;
    opacity: 1;
  }
</style>
