<template>
  <div class="route-block-collection">
    <div v-for="(route) in filteredCollection" :key="route.id">
      <RouteBlock :id="route.id"/>
    </div>
    <button @click="addRoute">➕ ADD ROUTE</button>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
import RouteBlock from '@/components/RouteBlock.vue';

export default {
  name: 'RouteBlockCollection',
  components: {
    RouteBlock,
  },
  computed: {
    ...mapGetters({
      routeCollection: 'routeCollection',
      filter: 'filter',
    }),
    filteredCollection() {
      if (this.filter.routeVerb.length === 0 && this.filter.status.length === 0) {
        return this.routeCollection;
      }
      const filtered = this.routeCollection.filter(
        (r) => (
          this.filter.routeVerb.includes(r.routeVerb)
          || this.filter.routeVerb.length === 0
        )
        && (
          this.getStatusEvaluation(this.filter.status, r.apiResponse)
          || this.filter.status.length === 0
        ),
      );
      return filtered;
    },
  },
  methods: {
    addRoute() {
      this.$store.dispatch('ADD_ROUTE');
    },
    getStatusEvaluation(statusFilter, res) {
      const resStatus = res.status ?? undefined;
      let statusIs = 'NOP';
      if (resStatus < 400) {
        statusIs = 'OK';
      } else if (resStatus > 400) {
        statusIs = 'KO';
      }
      return statusFilter.includes(statusIs);
    },
  },
};
</script>

<style scoped>
  .route-block-collection {
    display: grid;
    padding: var(--unit-2) 0 var(--unit-2) 0;
    grid-template-columns: repeat(var(--grid-slitter), 1fr);
    gap: var(--unit-4);
  }

  @media (max-width: 700px) {
    .route-block-collection {
      grid-template-columns: 1fr;
    }
  }
</style>
