<template>
  <div class="user-settings">
    <h3 class="text-background">User settings (WIP)</h3>
    <label for="displayOnlyKey">DISPLAY ONLY KEY</label>
    <input type="text" name="displayOnlyKey" v-model="displayOnlyKey">

    <label for="beautify" class="labels-settings">BEAUTIFY RESPONSE</label>
    <input type="checkbox" name="beautify" v-model="beautifyResponse">

    <label for="response-area-size" class="labels-settings">
      RESPONSE AREA SIZE ({{ responseAreaSize }} vh)
    </label>
    <input
      type="range"
      name="response-area-size"
      v-model="responseAreaSize"
      min="5"
      max="100"
      step="5"
      value="10">
    <!-- DANGER ZONE ACTION -->
    <details class="danger-zone" style="border: 1px solid red; padding: 12px">
      <summary style="color: red">Danger zone</summary>
      <p>In case you're stuck with the app, the RED button</p>
      <button class="btn-danger-zone" @click="reinitApp">APP RESET</button>
    </details>
  </div>
</template>

<script>
export default {
  name: 'UserSettings',
  computed: {
    beautifyResponse: {
      get() {
        return this.$store.getters.beautifyResponse;
      },
      set(value) {
        this.$store.commit('UPDATE_BEAUTIFY_RESPONSE', value);
      },
    },
    displayOnlyKey: {
      get() {
        return this.$store.getters.displayOnlyKey;
      },
      set(value) {
        this.$store.commit('UPDATE_DISPLAY_ONLY_KEY', value);
      },
    },
    responseAreaSize: {
      get() {
        return this.$store.getters.responseAreaSize;
      },
      set(value) {
        this.$store.commit('UPDATE_RESPONSE_AREA_SIZE', value);
      },
    },
  },
  methods: {
    reinitApp() {
      localStorage.removeItem('vapi');
      window.location.reload();
    },
  },
};
</script>

<style scoped>
  details:hover {
    cursor: pointer;
  }

  .user-settings {
    display: grid;
    gap: var(--unit-2);
  }

  input[type='checkbox'] {
    --size: 2rem;
    block-size: var(--size);
    inline-size: var(--size);
  }

  label {
    display: flex;
  }

  .element-setting {
    display: grid;
    grid-template-rows: 48px;
  }

  .danger-zone {
    opacity: 0.5;
  }

  .danger-zone:hover {
    opacity: 1;
  }

  .btn-danger-zone {
    border-color: rgba(255, 0, 0, 1);
    background: rgba(200, 0, 0, 0.2);
    color: rgba(220, 0, 0, 1);
    width: 100%;
    padding: var(--unit-2);
  }
  .btn-danger-zone:hover {
    border-color: rgba(255, 0, 0, 1);
    background: rgba(255, 0, 0, 0.4);
    color: rgba(255, 0, 0, 1);
  }
</style>
