<template>
  <div id="app">
    <div id="nav">
      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="isolation:isolate" viewBox="0 0 500 500" width="100%"><defs><clipPath id="_clipPath_aR8pCvtAGw3epKlRrFXL9vQ3d8vZAdSb"><rect width="500" height="500"/></clipPath></defs><g clip-path="url(#_clipPath_aR8pCvtAGw3epKlRrFXL9vQ3d8vZAdSb)"><path d=" M 339.656 371.889 L 344.909 372.317 L 343.945 382.18 L 338.906 381.859 L 338.906 381.859 Q 327.006 381.108 321.86 376.07 L 321.86 376.07 L 321.86 376.07 Q 316.714 371.031 316.714 359.989 L 316.714 359.989 L 316.714 338.976 L 305.565 338.976 L 305.565 338.976 Q 305.35 350.555 303.742 360.686 L 303.742 360.686 L 303.742 360.686 Q 302.134 370.817 298.489 381.323 L 298.489 381.323 L 284.66 381.43 L 284.66 381.43 Q 288.09 370.173 289.966 359.935 L 289.966 359.935 L 289.966 359.935 Q 291.842 349.697 292.271 338.976 L 292.271 338.976 L 281.551 338.976 L 281.551 328.899 L 341.693 328.899 L 341.693 338.976 L 330.115 338.976 L 330.115 362.133 L 330.115 362.133 Q 330.115 366.85 332.42 369.208 L 332.42 369.208 L 332.42 369.208 Q 334.725 371.567 339.656 371.889 L 339.656 371.889 L 339.656 371.889 Z " fill="var(--color-2)"/><path d=" M 37 100 L 89 100 L 187 333 L 292 100 L 335 100 L 462 382 L 411 382 L 382 315 L 286 315 L 303 275 L 365 275 L 314 156 L 217 382 L 165 382 L 37 100 Z " fill="var(--color-2)"/></g></svg>
      <div class="app-info">
        <p class="app-info-slogan">A minimal API tester</p>
        <p class="app-info-version">0.7.2</p>
      </div>
      <div>
        <router-link to="/">Home</router-link> |
        <router-link to="/about">About</router-link>
      </div>
      <div class="shortcut-actions">
        <BtnColorModeSwitcher />
        <BtnGridSplitter />
        <BtnDisplayUserSettings />
      </div>
    </div>
    <transition :name="animType">
      <router-view id="main-content"/>
    </transition>
  </div>
</template>

<script>
import BtnColorModeSwitcher from './components/BtnColorModeSwitcher.vue';
import BtnGridSplitter from './components/BtnGridSplitter.vue';
import BtnDisplayUserSettings from './components/BtnDisplayUserSettings.vue';

const ANIM_OPTIONS = {
  main: 'main-nav',
  back: 'back-anim',
  router: 'router-anim',
};

export default {
  components: {
    BtnColorModeSwitcher,
    BtnGridSplitter,
    BtnDisplayUserSettings,
  },
  created() {
    const value = this.$store.getters.responseAreaSize;
    const r = document.querySelector(':root');
    r.style.setProperty('--response-area-size', `${value}vh`);
    console.log('WELCOME ON VAPI 0.6.2');
  },
  data() {
    return {
      animType: ANIM_OPTIONS.router,
    };
  },
  mounted() {
    this.captureEvent();
  },
  methods: {
    afterEnter(e) {
      console.log('afterEnter trigerred: ', e);
    },
    captureEvent() {
      window.addEventListener('beforeinstallprompt', (e) => {
        // ! Prevent Chrome 67 and earlier from automatically showing the prompt
        e.preventDefault();
        // Stash the event so it can be triggered later.
        // this.deferredPrompt = e;
        this.$store.dispatch('UPDATE_DEFERRED_PROMPT', e);
      });
    },
  },
};
</script>

<style>
@import './assets/styles/animation.css';
:root {
  --color-0: #1b2631;
  --color-0-5: #1b2631c7;
  --color-1: #2c3e50;
  --color-1-5: #2c3e5080;
  --color-2: #adefd1;
  --color-2-5: #adefd180;
  --color-3: #476a74;
  /* units */
  --unit-1: 6px;
  --unit-2: calc(2 * var(--unit-1));
  --unit-3: calc(3 * var(--unit-1));
  --unit-4: calc(4 * var(--unit-1));
  /* GRID SPLITTER */
  --grid-slitter: 1;
  /* AREA */
  --response-area-size: 5vh;
}

body {
  margin: 0;
  padding: 0;
  background: var(--color-0);
  accent-color: var(--color-2);
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: var(--color-2);
}

#nav {
  align-items: center;
  background: var(--color-0);
  display: grid;
  gap: var(--unit-2);
  grid-template-columns: 48px auto auto auto;
  grid-template-rows: 48px;
  position: sticky;
  padding: var(--unit-1);
  top: 0;
  z-index: 100;
}

#nav a {
  font-weight: bold;
  color: var(--color-2-5);
}

#nav a.router-link-exact-active {
  color: var(--color-2);
}

#main-content {
  margin: var(--unit-4);
}

a {
  color: var(--color-2);
}

  label {
    text-align: left;
    font-size: 0.5rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
    margin-bottom: -1rem;
    color: var(--color-2-5);
  }

  input,
  textarea,
  select {
    padding: var(--unit-2);
    background-color: var(--color-0);
    border: 1px solid var(--color-2-5);
    color: var(--color-2);
  }

  button {
    font-weight: bold;
    letter-spacing: 0.1rem;
    border: 1px solid var(--color-2);
    border-radius: var(--unit-1);
    padding: var(--unit-1);
    background-color: var(--color-1);
    color: var(--color-2);
  }

  button:hover {
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: var(--color-0);
  }

  .shortcut-actions {
    display: flex;
    justify-content: space-around;
    transform: scale(0.6);
  }

  .btn-color-mode {
    position: absolute;
    top: var(--unit-2);
    right: var(--unit-2);
  }

  .btn-grid-splitter {
    position: absolute;
    top: calc(var(--unit-2) + var(--unit-2) + 3rem);
    right: var(--unit-2);
  }

  .btn-switch-user-settings {
    position: absolute;
    top: calc(var(--unit-2) * 3 + 6rem);
    right: var(--unit-2);
  }

  .text-background {
    background: var(--color-1-5);
    padding: var(--unit-1);
  }

  .app-info {
    text-align: left;
  }

  .app-info-version {
    margin: 0;
    font-size: var(--unit-2);
  }

  .app-info-slogan {
    margin: 0;
    font-size: var(--unit-2);
  }

  @media (max-width: 700px) {
    body {
      margin: 0;
    }

    #nav {
      backdrop-filter:unset;
      background: var(--color-0);
      width: auto;
    }

    #main-content {
      margin: var(--unit-2);
    }

    .app-info-slogan {
      display: none;
    }
  }

  @supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
    #nav {
      background-color: transparent;
      -webkit-backdrop-filter: blur(24px);
      backdrop-filter: blur(24px);
    }
  }
</style>
