.main-nav-enter-active {
  animation: zoomout 0.2s;
  animation-delay: .2s;
  opacity: 0;
}
.main-nav-leave-active {
  animation: zoomin 0.2s;
}

@keyframes zoomin {
  from {
    transform: translateZ(0);
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: translateZ(-100);
    opacity: 0;
    transform: scale(0.9);
  }
}
@keyframes zoomout {
  from {
    transform: translateZ(100);
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    transform: translateZ(0);
    opacity: 1;
    transform: scale(1);
  }
}

/* Switch between relational view */
.router-anim-enter-active {
  animation: coming 0.5s;
  animation-delay: .5s;
  opacity: 0;
}
.router-anim-leave-active {
  animation: going 0.5s;
}

@keyframes going {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
    opacity: 0;
  }
}
@keyframes coming {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

/* Back between relational view */
.back-anim-enter-active {
  animation: backfrom 0.5s;
  animation-delay: .5s;
}
.back-anim-leave-active {
  animation: backto 0.5s;
}

@keyframes backfrom {
  from {
    transform: translateX(-100%);
    opacity: 0
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes backto {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(100%);
    opacity: 0;
  }
}